.form {
    padding: 10px;
    padding-left: 35%;
    padding-bottom: 20px;
    width: 80%;
    /* background: linear-gradient(#ffdab5 , #fff3ea); */
    background-image: url(https://images.unsplash.com/photo-1577017040065-650ee4d43339?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

form input {
    size: 15px;
    background-color: rgb(242, 236, 255);
    font-size: 15px;
    border-color: rgb(0, 39, 26);
}

form input:hover {
    background-color: rgba(215, 197, 254, 0.689);
    border: 2px solid #630065;
    transition: 0.5s;
}

form input {
    width: 35%;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

form input[type=submit],[type=reset] {
    background-color: rgb(222, 185, 255);
    width: 215px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

form input[type=submit]:hover,[type=reset]:hover {
    background-color: rgb(208, 158, 255);
    border: 2px solid #630065;
    transition: 0.5s;
}